
# Created by https://www.gitignore.io/api/code,vagrant
# Edit at https://www.gitignore.io/?templates=code,vagrant

### Code ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### Vagrant ###
# General
.vagrant/

# Log files (if you are creating logs in debug mode, uncomment this)
# *.logs

### Vagrant Patch ###
*.box

config
kubernetes-setup/join-command
# End of https://www.gitignore.io/api/code,vagrant